
body{
    background: url('../images/Night.jpg') no-repeat center center/cover;
}

.wrapper{
    max-width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#w-temp{
    color: #FFF;
}

#btn{
    display: inline-block;
}

